# Configuration file

common {
    # Random: each mob can roll any texture. A spawn cluster can mix variants, and breeding can produce any texture. Uniform: mobs that spawn in the same group share one texture, and babies inherit that same texture.
    S:spawn_mode=RANDOM
}


