# Configuration file

client {
    # Show custom cat variants.
    B:cat=true

    # Show custom chicken variants.
    B:chicken=true

    # Show custom cow variants.
    B:cow=true

    # Show custom pig variants.
    B:pig=true

    # Show custom sheep variants.
    B:sheep=true

    # Show custom skeleton variants.
    B:skeleton=true

    # Show custom spider variants.
    B:spider=true

    # Show custom wolf variants.
    B:wolf=true

    # Show custom zombie variants.
    B:zombie=true
}


