# Configuration file

debug {
    # If the mod should create .png images for every generated destruction texture in "~\config\tebreaker\generated_textures".
    # Only set to 'true' when you want to debug the generator. [default: false]
    B:generateTextureFiles=false
}


